<!DOCTYPE html>
<html lang="en">
	<title>Video Editor</title>

	<head>
		<% include ../partials/header %>
	</head>

	<body>
		<h1>Video Editor</h1>

		<div class="main">

			<div class="editor-container">
				<div class="template-overlay-controls">
					<ul class="overlayList"></ul>
				</div>
				<div class="template-video-controls">
					<ul class="videoList"></ul>
				</div>
				<div class="canvas-container">
					<video id="myvideo" autoplay crossOrigin="anonymous">
						<source src="videos/vid1.mp4" type="video/mp4">
						<!-- <source src="videos/vid1.ogg" type="video/ogg"> -->
						<!-- <source src="videos/vid1.webm" type="video/webm"> -->
					</video>
					<canvas id="mycanvas"></canvas>
				</div>
				
				<div class="interact">
					<div class="hashtag">
						<label for="">Username<input id="nameInput" type="text"></label>
					</div>
					<div class="name">
						<label for="">Hashtag<input id="hashtagInput" type="text"></label>
					</div>	
					<button class="exportBtn btn btn-default">Export</button>
				</div>
			</div>
		</div>

		<footer>
	        <% include ../partials/footer %>
	    </footer>
	</body>

</html>
	