<!DOCTYPE html>
<html lang="en">
	<title>Video Editor</title>

	<head>
		<% include ../partials/header %>
	</head>

	<body>
		<h1>Video Editor</h1>

		<div class="main">

			<div class="editor-container">

				<div class="template-overlay-controls">
					<ul class="overlayList"></ul>
				</div>

				<div class="template-video-controls">
					<ul class="videoList"></ul>
				</div>

				<div class="viewer-container">
					<div class="two">
						
						<div class="col-xs-6">
							<video id="mainVideo" class="video-js vjs-default-skin vjs-big-play-centered vjs-fluid" muted>
								<source src="videos/vid1.mp4" type="video/mp4" />
							</video>
						</div>

						<div class="col-xs-6">
							<h3>Wait until video was loaded.</h3>	
							<a href='javascript:void(0)' class='btn-generate btn btn-primary'>Generate .WEBM</a>		
						</div>

					<div class="clearfix"></div>
					</div>
					
					<div class="wrapper">
						<h3 id="loader-status">Loading resources..</h3>
						<canvas id="mainCanvas" width="1" height="1"></canvas>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>

			<br />
				 
			<div class="interact-controls container">
				<div class="row">
					<div class="col-md-2">
						<h4>Export Image or Video</h4>
						<button class="exportBtn btn btn-default">Export</button>
					</div>

					<div class="canvas-type col-md-4">
						<h3>Canvas Type</h3>
						<label><input type="radio" name="canvas_type" value="image" >&nbsp;Image</label>
						<br />
						<label><input type="radio" name="canvas_type" value="video" checked>&nbsp;Video</label>
					</div>

					<div class="col-md-6">
						<div class="row">
							<h3>Add Text</h3>
							<div id="dynamic-textbox">
								<input type="text" id="template-input"/>
								<input type="number" value="20" id="font-option" style="inline-block; width: 40px;">
								<select id="fonts">
									<option value="Arial">Arial</option>
									<option value="Verdana">Verdana</option>
									<option value="DancingintheMoonlight">DintheMoon</option>
								</select>
								<button id="btnadd">Add</button>
								<ul class="list-textbox"></ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class='dynamic'>
				<p>Dynamic Input</p>
			</div>


			<br />
			<!-- <canvas id="dynamic-canvas" width="150" height="150"></canvas> -->
			<video id="awesome" width="652" height="367" controls autoplay loop></video>
			<br />
		</div>

		<footer>
	        <% include ../partials/footer %>
	    </footer>

	</body>

	<canvas id="copier"></canvas>

</html>

<!-- <video id="myvideo" crossOrigin="anonymous" autoplay muted> -->
	<!-- <source src="videos/vid1.mp4" type="video/mp4" /> -->
	<!-- <source src="videos/vid1.webm" type="video/webm" /> -->
	<!-- Your browser does not support the video tag. -->
	<!-- <source src="videos/vid1.ogg" type="video/ogg"> -->
	<!-- <source src="videos/vid1.webm" type="video/webm"> -->
<!-- </video> -->
	